/* style.css */

/* TopBar styles */
.top-bar {
    -fx-background-color: #2c3e50;
    -fx-padding: 15;
    -fx-border-radius: 15px;
}



/* ComboBox styles */
.combo-box {
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-border-color: #2980b9;
    -fx-translate-x: 220px;
}

/* TextField styles */
.wide-search-text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
    -fx-background-color: -fx-control-inner-background;
    -fx-background-radius: 5;
    -fx-border-color: -fx-box-border;
    -fx-border-radius: 5;
    /* Définissez la largeur minimale souhaitée */
}

/* Button styles */
.search-button {
    -fx-background-color: #A62609;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 8 16;
    -fx-background-radius: 12;
}

.search-text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -60%);
    -fx-background-color: -fx-control-inner-background;
    -fx-background-radius: 10;
    -fx-border-color: -fx-box-border;
    -fx-border-radius: 10;
    -fx-min-width: 300px;
    -fx-min-height: 35px;
    -fx-font-size: 15px;
}




/* ScrollPane styles */
.scroll-pane {
    -fx-background-color: #ecf0f1;
}

/* FlowPane styles */
.flow-pane {
    -fx-alignment: top-center;
    -fx-padding: 10;
    -fx-hgap: 20;
    -fx-vgap: 20;
}

/* Card styles */
.product-card {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10;
}

.envoyer-button {
    -fx-font-size: 13px;
    -fx-padding: 10 16;
    -fx-min-width: 150;
    -fx-min-height: -5;
    -fx-background-radius: 10;
    -fx-background-color: #A62609;
    -fx-text-fill: white;
    -fx-translate-x: 230px;
}

.reset-button {
    -fx-font-size: 13px;
    -fx-padding: 10 16;
    -fx-min-width: 100;
    -fx-min-height: -5;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-text-fill: #A62609;
    -fx-translate-x: 600px;
}
/* Add to Cart button styles */
.add-to-cart-button {
    -fx-background-color: #7AA95C;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5 10;
    -fx-background-radius: 10;
}

/* ComboBox styles for quantity */
.quantity-combo-box {
    -fx-font-size: 14px;
}

/* Alert styles */
.alert {
    -fx-font-size: 14px;
}

.consulter-panier-button {
    -fx-background-color: #FF544D;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 8 16;
    -fx-background-radius: 10;
}